body.standup-body {
  padding-right: 330px !important;
  width: auto !important;
}

#standup-sidebar {
  background-color: #fff !important;
  border-left: 1px solid #333;
  box-shadow: -2px 0 4px 0 rgb(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: block !important;
  height: 100% !important;
  overflow: auto;
  position: fixed !important;
  right: 0px !important;
  top: 0px !important;
  width: 330px !important;
  z-index: 1000 !important;
}

#standup-sidebar.standup-hidden {
  display: none !important;
  width: 0px !important;
}

#standup-sidebar #standup-root {
  height: 100vh;
}
