.standup-header {
  align-items: center;
  background-color: #333;
  color: #fff;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  justify-content: space-between;
  padding: 8px;

  h1 {
    font-size: inherit;
    font-weight: 700;
    line-height: normal;
  }

  button {
    background-color: transparent;
    border: none;
    color: inherit;
  }
}
