#standup-container {
  .standup-header {
    align-items: center;
    background-color: #333;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    font-size: 16px;
    justify-content: space-between;
    padding: 8px;

    h1 {
      color: #fff;
      font-size: inherit;
      font-weight: 700;
      line-height: normal;

      &::selection {
        background-color: #0068b3;
      }
    }

    button {
      background-color: transparent;
      border: none;
      color: #fff;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
