#standup-person-list-container {
  flex: 1 1 auto;
  overflow: auto;
}

#standup-person-list-header {
  align-items: center;
  color: #222;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;

  #standup-up-next-header {
    color: #222;
    font-size: 24px;
    font-weight: 600;
    padding: 16px;
  }

  #standup-top-action-bar {
    padding: 4px 16px;

    button {
      background: none;
      border: none;
      color: #222;
      font-size: 18px;
      font-weight: normal;

      &:hover {
        cursor: pointer;
        opacity: 0.6;
      }
    }
  }
}

#standup-person-list {
  font-size: 18px;
  font-weight: normal;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    align-items: center;
    background-color: #fff;
    border-top: 1px solid #666;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0;
    padding: 4px 16px;

    &:nth-child(odd) {
      background-color: #eee;
    }

    &:last-child {
      border-bottom: 1px solid #666;
    }

    &.standup-person-highlight {
      background-color: #ffe177;
    }

    &:hover .standup-person-actions button {
      opacity: 1;
    }

    &.standup-person-completed {
      .standup-person span {
        opacity: 0.3;
        text-decoration: line-through;
      }
    }

    .empty-list-msg {
      color: #222;
    }

    a.import-from-active-sprints {
      color: #666;
      font-style: italic;
    }

    button {
      background: none;
      border: none;
      color: #222;
      font-size: 18px;
      font-weight: normal;

      &:hover {
        cursor: pointer;
        opacity: 0.6;
      }
    }

    .standup-person {
      flex: 1 0 auto;
      font-weight: 400;
      padding: 4px 4px 4px 0;
      text-align: left;
      width: 0; // Actual width is determined by flex

      span {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
      }

      &:hover {
        font-weight: 500;
        opacity: 1;
      }
    }

    .standup-person-actions {
      button {
        opacity: 0;
      }

      button:focus {
        opacity: 1;
      }

      button:hover {
        cursor: pointer;
        opacity: 0.6;
      }
    }

    &.standup-rename-list-item {
      display: block;
    }

    .standup-person-rename-input-container {
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      width: 100%;

      .standup-person-rename-input {
        background-color: #fff;
        color: #222;
        flex: 1 0 auto;
        padding: 4px 8px;
        width: auto;

        &.standup-invalid-input {
          border: 1px solid #ff0000;
        }
      }

      .standup-person-rename-actions {
        flex: 0 1 auto;
      }
    }

    .standup-error-msg {
      color: #f00;
      font-size: 14px;
      margin-top: 4px;
    }
  }
}

#standup-add-person {
  background: none;
  border: none;
  color: #999;
  font-size: 16px;
  font-weight: normal;
  margin: 8px 16px;
  padding: 0;

  &:hover {
    color: #666;
    cursor: pointer;
  }
}
